body{
    font-family: 'Krona One', sans-serif;
    font-size: 25px;
    margin: 20%;
}


header{
    background: rgb(159,70,70);
    background: radial-gradient(circle, rgba(159,70,70,1) 46%, rgba(182,84,84,1) 87%, rgba(255,255,255,1) 93%);   
    height: 200px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    line-height: 100px;
}

nav{
    height: 30px;
    background: rgb(70,159,115);
    background: radial-gradient(circle, rgba(70,159,115,1) 46%, rgba(182,118,84,1) 87%, rgba(233,194,194,1) 93%); 
    line-height: 30px;
    text-align: center;
}

section{
    background: rgb(149,255,238);
    background: radial-gradient(circle, rgba(149,255,238,1) 46%, rgba(255,255,255,1) 80%); 
    height: 350px;
    margin:0px;
    padding: 15px;
}  
footer{
    background: rgb(159,70,70);
    background: radial-gradient(circle, rgba(159,70,70,1) 46%, rgba(182,84,84,1) 87%, rgba(255,255,255,1) 93%);  
    height: 200px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 100px;
}
.clear{
    clear:both;
}

.premiere{
    width: 50%;
    height: 50%;
    float: left;
    border: 2px rgb(255, 255, 255);
    text-align: center;
    line-height: 100px;
    background: rgb(149,255,238);
    background: radial-gradient(circle, rgba(149,255,238,1) 46%, rgba(255,255,255,1) 80%);
}


.deux{
    width: 50%;
    height: 50%;
    float: left; 
    text-align: center;
    background: rgb(149,255,238);
    background: radial-gradient(circle, rgba(149,255,238,1) 46%, rgba(255,255,255,1) 80%);
    line-height: 100px;
}

.trois{
    width: 50%;
    height: 50%;
    float: left;
    background: rgb(149,255,238);
    background: radial-gradient(circle, rgba(149,255,238,1) 46%, rgba(255,255,255,1) 80%);
    line-height: 100px;
}

.quatre{
    width: 50%;
    height: 50%;
    float: left;
    background: rgb(149,255,238);
    background: radial-gradient(circle, rgba(149,255,238,1) 46%, rgba(255,255,255,1) 80%);
    line-height: 100px;
}

.a, .b{
    width: 48%;
    height: 85px;
    float: left;
    background: rgb(49,113,112);
    background: radial-gradient(circle, rgba(49,113,112,1) 46%, rgba(255,255,255,1) 100%); 
    text-align: center;
    border: 1px solid white;
    text-align: center;
}



.c, .d{
    width: 48%;
    height: 85px;
    float: left;
    background: rgb(49,113,112);
    background: radial-gradient(circle, rgba(49,113,112,1) 46%, rgba(255,255,255,1) 100%); 
    text-align: center;
    border: 1px solid white
    
}

.e, .g{
    width: 48%;
    height: 85px;
    float: left;
    background: rgb(178,185,89);
    background: radial-gradient(circle, rgba(178,185,89,1) 46%, rgba(255,255,255,1) 100%); 
    text-align: center; 
    border: 1px solid white;
}



.f, .h{
    width: 48%;
    height: 85px;
    float: left;
    background: rgb(178,185,89);
    background: radial-gradient(circle, rgba(178,185,89,1) 46%, rgba(255,255,255,1) 100%); 
    text-align: center;
    border: 2px solid white;
}




.i, .k{
    width: 48%;
    height: 85px;
    float: left;
    background: rgb(255,151,103);
    background: radial-gradient(circle, rgba(255,151,103,1) 46%, rgba(255,255,255,1) 100%); 
    text-align: center;
    border: 2px solid white;
}

.j, .l{
    width: 48%;
    height: 85px;
    float: left;
    background: rgb(255,151,103);
    background: radial-gradient(circle, rgba(255,151,103,1) 46%, rgba(255,255,255,1) 100%); 
    text-align: center;
    border: 2px solid white;
}


.m, .o{
    width: 48%;
    height: 85px;
    float: left;
    background: rgb(103,150,255);
    background: radial-gradient(circle, rgba(103,150,255,1) 46%, rgba(255,255,255,1) 100%); 
    text-align: center;
    border: 2px solid white;
}

.n, .p{
    width: 48%;
    height: 85px;
    float: left;
    background: rgb(103,150,255);
    background: radial-gradient(circle, rgba(103,150,255,1) 46%, rgba(255,255,255,1) 100%); 
    text-align: center;
    border: 2px solid white;
}
