body{
    padding: 0px 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}


tfoot{ 
    color: rgb(0, 0, 0);
    text-align: center;
    height: 200px;
    width: 100%;
}

img{
    padding: 10px;
}



thead img{
    width: 100%;
    padding: 0px;
}

.c3{
    width: 800px;
    height: 500px;
}

table{
    border: 1px dashed black;
}
